html {
    background-color: lavenderblush;
  }
  .testingdiv p{
      margin-top:25px !important;
      border-radius: 5px;
}
  .jumbotron{
      
      width:30%;
      
      margin:10% auto ;
      text-align: center;
  }
  .jumbotron img {
    border-radius: 65%;
    margin-bottom: 35px;
    padding: 4px;
    background: slategray;
}
.header h1{
    font-size: 3rem !important;
    text-align: center;
}